.Container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.Title {
  padding:1.5rem;
  font-size: 50px;
  color: rgb(128, 125, 125);
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 380px) {
  .Container {
    padding: 0px;
    flex-direction: column;
  }
  .Title {
    font-size: 15px;
  }
}

/* Medium (md) */
@media screen and (max-width: 640px) {
  .Container {
    padding: 0px;
    flex-direction: column;
  }
  .Title {
    font-size: 15px;
  }
}
